{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 border mt-5 p-5">
            <h2>{% trans "Formulaire" %}</h2>

            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">{% trans 'Valider' %}</button>
                {% endbuttons %}
            </form>
        <!-- /.row -->
        </div>
    </div>
</div>
{% endblock %}

