{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 border mt-5 p-5">
            <h1>{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <input type="submit" name="action" class="btn btn-primary" value="{% trans 'Set Password' %}"/>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
